[tool.isort]
profile = "black"
line_length = 120
force_sort_within_sections = true
combine_as_imports = true
known_first_party = [
    "custom_components.yandex_station_intents",
    "tests",
]
skip_glob= [".venv*/*"]

[tool.ruff]
target-version = "py310"
line-length = 120
select = ["E", "F", "W", "T20", "Q"]

[tool.ruff.flake8-quotes]
inline-quotes = "single"
